<ng-container>
  <button class="btn btn-light my-5 mx-2" (click)="get401Error()">
    Test 401 Error
  </button>
  <button class="btn btn-light my-5" (click)="get404Error()">
    Test 404 Error
  </button>
  <button class="btn btn-light my-5" (click)="get500Error()">
    Test 500 Error
  </button>
  <button class="btn btn-light my-5" (click)="get400Error()">
    Test 400 Error Bad request
  </button>
  <button class="btn btn-light my-5" (click)="post400ValidationError()">
    Test 400 validation Error
  </button>
</ng-container>
