<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="accountServices.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members">Matches</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/lists"
              >Lists</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages">Messages</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors">Errors</a>
        </li>
      </ul>

      <div *ngIf="accountServices.currentUser$ | async as user" class="">
        <div ngbDropdown class="d-inline-block">
          <a class="" id="dropdownBasic1" ngbDropdownToggle>
            Welcom {{ user.username }}
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Edit Profile</button>
            <button ngbDropdownItem (click)="logout()">logout</button>
          </div>
        </div>
      </div>

      <form
        *ngIf="!(accountServices.currentUser$ | async)"
        #loginForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex ml-auto"
        role="search"
        autocomplete="off"
      >
        <input
          class="form-control me-2"
          type="text"
          placeholder="username"
          aria-label="username"
          name="username"
          [(ngModel)]="model.username"
        />

        <input
          class="form-control me-2"
          type="password"
          placeholder="password"
          aria-label="password"
          name="password"
          [(ngModel)]="model.password"
        />

        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
